version: '3.8'

services:
  pannello_admin:
    build:
      context: ./src
    ports:
      - "8101:80"
    volumes:
      - ./src:/var/www/html
    depends_on:
      - ssh_tunnel
    environment:
      - DB_HOST=ssh_tunnel  # <-- IMPORTANTE: Punta al container del tunnel
      - DB_PORT=3307
      - DB_USER=classe
      - DB_PASS=     # Inserisci la password qui o gestiscila nel codice
      - DB_NAME=     # Inserisci il nome del DB

  ssh_tunnel:
    build:
      context: ./ssh_tunnel
    environment:
      - SSH_HOST=
      - SSH_USER=
      - SSH_PASS=
      - REMOTE_PORT=
    # La porta 3307 è accessibile internamente agli altri container (come pannello_admin)
    # Non è strettamente necessario mapparla fuori ("3307:3307") a meno che tu non voglia connetterti dal tuo PC host.
    ports:
      - "3307:3307" 
    restart: unless-stopped
